.hero{
  padding-top: 220px;
  padding-bottom: 354px;
  color: var(--color-light);
  background-image: url(../img/hero-bg.jpg);
  @include background-all;
  background-color: var(--color-gray);
  
  &__content{
    max-width: 590px;
  }

  &__btns{
    .btn{
      &:not(:last-child){
        margin-right: 20px;
      }
    }
  }
}